div {
    display: block;
}

.tweetbox {
    position: absolute;
    top:10px;
    left: 70px;
}

input[type=text]#textbox {
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom:8px;
    padding-right:31px;
    width:467px;
    height:20px;
    background: #fff;
    border: 1px solid #FFD9C7;
    border-radius: 8px;
    line-height: 20px;
}

::placeholder {
    color: #FF691F;
    font-size: 14px;
    font-family:"Segoe UI",Arial,sans-serif;
    /* padding-left: 8px; */
}

#icon {
    position: absolute;
    left:480px;
    top:10px;
    color:#FF691F;
}
